

<% hours = ((Time.now - comment.created_at) / 3600).round %>
  <div class="comment-box">

  
  <div class="inline-block">
    <div class="post">
      <div class="comment-author"><%= comment.author %> </div> 
      <div class="post-info"><%= comment.up_votes - comment.down_votes %> points <%= hours %> hours ago</div>
      <div class="comment-body"><%= comment.body %></div>
  </div>
  
  <div class="comment-info">  
    <%= link_to 'edit', edit_comment_path([comment.post, comment]) %> | 
    <%= link_to 'delete', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </div>
  </div>
  </div>
<% end %>



