<% @categories.each do |category| %>
	<div>
	<%= link_to category.name, category_path(category) %></a>: <%=category.posts.length%> posts
	</div>

	<div class="inline">
	  <%= link_to 'edit', edit_category_path(category) %> | 
	  <%= link_to 'delete', category,
	             method: :delete,
	             data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>

<div class="add-new-category-box">
  <h2>Create a new category:</h2>
  <%= form_for @category do |f| %>
	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
  <% end %>
</div>
