<div id="all-posts">
<% @category.posts.each_with_index do |post, index| %>
<div class="index-number"><%=(index+1)%>.</div>

<% end %>
</div>

<div class="add-new-post-box">
  <h2>Add a post:</h2>
  <%= form_for([@category, @category.posts.build], remote: true) do |f| %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </div>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  </div>


