<!DOCTYPE html>
<html>
<head>
  <title>DiscussEverything</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% @categories = Category.all %>
<div id="categories-header-box">
  <% @categories.each do |category| %>
    <div class="inline"><%= link_to category.name.upcase, category_path %> - </div>
  <% end %>
</div>

 <div class="header-box">
   <%= link_to 'Discuss Everything', controller: "categories" %> |
   <%= link_to 'create a new category', new_category_path %> | 
   <%= link_to 'read all the newest posts', '/newest'%> |
   <%= link_to 'see all categories', categories_path %>
 </div>

<%= yield %>

</body>
</html>



